section .cards {
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.8);
    text-align: center;
    margin: 1%;
    border: none;
}

div .card-divider {
    background-color: #333;
    color: white;
    text-shadow: 6px 6px 20px #555;
}
.card-section {
    background: #a9c4ec;
    text-shadow: 6px 6px 20px #222;
}
