.body {
    background-color: rgb(56, 209, 212);
    color: white;
    font-family: 'JetBrains Mono', monospace;
    font-size: 16pt;
    line-height: 1.5;
}

section .cards {
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.8);
    text-align: center;
    margin: 1%;
}
